<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Daniel DJAM | DEVELOPER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Leven - Resume / CV / vCard Template" />
    <meta name="keywords" content="vcard, resposnive, retina, resume, jquery, css3, bootstrap, portfolio" />
    <meta name="author" content="lmpixels" />
    <link rel="shortcut icon" href="favicon.ico">
  
  </head>

  <body class="page">

    <div class="page-scroll">
      <div id="page_container" class="page-container bg-move-effect" data-animation="transition-flip-in-right">

        <!-- Header -->
        <header id="site_header" class="header">
          <div class="header-content clearfix">
                
            <!-- Text Logo 
            <div class="text-logo">
              <a href="#">
                <div class="logo-symbol">D</div>
                <div class="logo-text">Daniel <span>DJAM</span></div>
              </a>
            </div>
            -->
            <!-- /Text Logo -->

            <!-- Navigation -->
            <div class="site-nav mobile-menu-hide">
              <ul class="leven-classic-menu site-main-menu">
                <li class="menu-item current-menu-item">
                    <%= link_to 'Home', '/home' , class: 'menu-item current-menu-item'%>
                </li>

                <li class="menu-item">
                  <%= link_to 'Curriculum', '/curriculum' , class: 'menu-item'%>
                </li>

                <li class="menu-item ">
                  <%= link_to 'Portfolio', '/portfolio' , class: 'menu-item'%>
              
                </li>
                
                <li class="menu-item ">
                  <%= link_to 'Blog', '/blog' , class: 'menu-item'%>
                </li>

                <li class="menu-item">
                  <a href="#">Contato</a>
                </li>
              </ul>
            </div>

            <!-- Mobile Menu Toggle -->
            <a class="menu-toggle mobile-visible">
              <i class="fa fa-bars"></i>
            </a>
            <!-- Mobile Menu Toggle -->
          </div>
        </header>
        <!-- /Header -->

     <div id="main" class="site-main">
          <div id="main-content" class="single-page-content">
            <div id="primary" class="content-area">

              <div class="page-title">
                <h1>Resumo Profissional</h1>
                <div class="page-subtitle">
                    <h4> + de 10 anos de experiência</h4>
                </div>
              </div>

              <div id="content" class="page-content site-content single-post" role="main">
                <div class="row">
  
                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Educação</h2>
                    </div>

                    <div id="timeline_1" class="timeline clearfix">
                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2009</h5>
                        <span class="item-company">Tecnólogo em Processamento de Dados</span>
                        <h4 class="item-title">Ensino Superior</h4>
                      </div>

                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2014</h5>
                        <span class="item-company">Engenharia de Software</span>
                        <h4 class="item-title">Pós-Graduação</h4>
                      </div>

                      

                    </div>
                  </div>

                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Experiência</h2>
                    </div>

                    <div id="timeline_2" class="timeline clearfix">
                      <div class="timeline-item clearfix">
                        <h5 class="item-period current">2019 - Atualmente</h5>
                        <span class="item-company">Pintos LTDA </span>
                        <h4 class="item-title">Desenvolvedor WEB FullStack / Analista de Produção de T.I </h4>
                        <p>Desenvolvimento de Sistemas WEB, consumos de API REST/FUL , WSDL e servidores linux ( configuração e manutenção ).</p>
                      </div>  

                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2009 - Atualmente</h5>
                        <span class="item-company">Prefeitura Municipal de São Miguel do Tapio</span>
                        <h4 class="item-title">Desenvolvedor WEB FullStack </h4>
                        <p>Desenvolvi sistemas sob medida para a prefeitura, como o site, sistema de protocolo, portal da transparencia entre varios outros.</p>
                      </div>

                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2017 - 2019</h5>
                        <span class="item-company">MV NEVES PEREIRA</span>
                        <h4 class="item-title">Desenvolvedor WEB FullStack</h4>
                        <p>Desenvolvi sistemas (Web/Android/iOs) sob medida para diversas empresas do ramo imobiliário,agricola,mercantil.</p>
                      </div>

                      <div class="timeline-item clearfix">
                        <h5 class="item-period ">2009 - 2017</h5>
                        <span class="item-company">Serviço Nacional de Aprendizagem Rural - SENAR-AR/PI</span>
                        <h4 class="item-title">Desenvolvedor WEB </h4>
                        <p>Desenvolvi sistemas Web para a instituição.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-20"></div>

                    <div class="block-title">
                      <h2>Certificados</h2>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-6 ">
                    <a href="#" class="lightbox">
                      <div class="certificate-item clearfix">
                        <div class="certi-logo">
                          <img src="#" alt="logo">
                        </div>

                        <div class="certi-content">
                          <div class="certi-title">
                            <h4>Certificação Linux LPIC-1/LPIC-2</h4>
                          </div>

                          <div class="certi-id">
                            <span>Certificado de 2011</span>
                          </div>
                          <div class="certi-date">
                            <span>Ataulizado em 2017 </span>
                          </div>

                          <div class="certi-company">
                            <span></span>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>

                 

                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-12 ">
                    <div class="p-40"></div>
                  </div>
                </div>

                <div class="row">
                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Design Skills</h2>
                    </div>

                    <div id="skills_1" class="skills-info skills-first-style">
                      <!-- Skill 1 -->
                      <div class="clearfix">
                        <h4>UI/UX Design</h4>
                        <div class="skill-value">80%</div>
                      </div>

                      <div id="skill_1" data-value="80" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 1 -->
                      
                      <!-- Skill 2 -->
                      <div class="clearfix">
                        <h4>Photoshop</h4>
                        <div class="skill-value">75%</div>
                      </div>
                      
                      <div id="skill_2" data-value="75" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 2 -->

                      

                     
                    </div>

                  </div>


                  <div class=" col-xs-12 col-sm-6 ">
                    <div class="block-title">
                      <h2>Coding Skills</h2>
                    </div>


                    <div id="skills_2" class="skills-info skills-first-style">
                      <!-- Skill 5 -->
                      <div class="clearfix">
                        <h4>HTML / CSS</h4>
                        <div class="skill-value">90%</div>
                      </div>
                      <div id="skill_5" data-value="90" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 5 -->

                      <!-- Skill 6 -->
                      <div class="clearfix">
                        <h4>Ruby</h4>
                        <div class="skill-value">90%</div>
                      </div>
                      <div id="skill_6" data-value="90" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 6 -->

                      <!-- Skill 7 -->
                      <div class="clearfix">
                        <h4>JavaScript</h4>
                        <div class="skill-value">90%</div>
                      </div>
                      <div id="skill_7" data-value="90" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 7 -->

                      <!-- Skill 10 -->
                      <div class="clearfix">
                        <h4>Python</h4>
                        <div class="skill-value">70%</div>
                      </div>
                      <div id="skill_8" data-value="70" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 10 -->

                                 <!-- Skill 12 -->
                      <div class="clearfix">
                        <h4>PHP</h4>
                        <div class="skill-value">60%</div>
                      </div>
                      <div id="skill_12" data-value="60" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 11 -->


                                 <!-- Skill 12 -->
                      <div class="clearfix">
                        <h4>SQL (MariaDB,MySQL,POSTGRES,MONGODB)</h4>
                        <div class="skill-value">60%</div>
                      </div>
                      <div id="skill_12" data-value="60" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 11 -->

                      <!-- Skill 8 -->
                      <div class="clearfix">
                        <h4>Framework Rails</h4>
                        <div class="skill-value">90%</div>
                      </div>
                      <div id="skill_8" data-value="90" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 8 -->

                         <!-- Skill 9 -->
                      <div class="clearfix">
                        <h4>Framework VueJS</h4>
                        <div class="skill-value">80%</div>
                      </div>
                      <div id="skill_9" data-value="80" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 9 -->

                             

                               <!-- Skill 11 -->
                      <div class="clearfix">
                        <h4>Framework Django</h4>
                        <div class="skill-value">70%</div>
                      </div>
                      <div id="skill_11" data-value="70" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 11 -->


                        <!-- Skill 11 -->
                      <div class="clearfix">
                        <h4>Framework Laravel</h4>
                        <div class="skill-value">70%</div>
                      </div>
                      <div id="skill_11" data-value="70" class="skill-container">
                        <div class="skill-percentage"></div>
                      </div>
                      <!-- /Skill 11 -->


                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>

   
</body>
</html>


        
