<!DOCTYPE html>
<html>
  <head>
  <title>DANIEL DJAM | DEVELOPER </title>
    <%= render 'layouts/pages_layout/config' %>  
  </head>

  <body>
   <%= render 'layouts/pages_layout/header'%>
  <%#= yield %> <!-- retirar para nao ficar duplicado na visao do config-->
   <%= render 'layouts/pages_layout/footer'%>  
  </body>
</html>